body{
    background:url("../img/bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#main{
    margin:200px 0;
}
.container p{
    font-weight: 600;
}