body{
    background:url("../img/bg.jpg");
    background-position: top;
    background-attachment: fixed;
}
.main-container{
    margin:80px 0;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#main h1{
   position: absolute;
   top: 25%;
   left:140px;
}
.container img:hover{
    margin:5px;
    animation: imgs 5s ease;
}
@keyframes imgs {
    10%{
      
        transform: rotate(360deg);
    }
    20%{
        transform:scale(1.5);
    }
    100%{
        transform: scale(1.5);
        /* transform: rotate(360deg); */
    }
}