#main{
    display: flex;
    align-items: center;
    height:80vh;
}

table{
    background:#fff;
}
.container{
    padding:10px;
    background:rgba(0,0,0,0.89);
    width:80%;
    border-radius: 5px;
    transition: 1s;
}
.buttons{
    float: right;
}