.sidenav{
    background: #111;
    width: 0;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    padding-top:35px;
    overflow-x: hidden;
    transition: .6s;
    z-index: 1;
}
.sidenav ul li{
    list-style: none;
    padding:8px 8px 8px 35px;
}
.sidenav a{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}
.sidenav .closetbtn{
    font-size: 35px;
    position: absolute;
    top:0;
    right:10px;
    z-index: 1;
}
.sidenav ul li a:hover{
    background:#05c46b;
    padding:5px;
    border-radius: 10px;
}
nav{
    background:#111;
    height:50px;
}
nav .navbar-brand{
    color:green;
    font-weight: 600;
}
nav span{
    cursor: pointer;
    font-size: 25px; 
    color:#fff;
    line-height: -1px;
    margin-left: 30px;
}