#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
table{
    background:#fff;
}
.main-container{
    padding:20px;
    background:rgba(0,0,0,0.89);
    width:auto;
    transition: 1s;
    border-radius: 10px;
}
.buttons{
    float: right;
}