body{
    background:url("../img/bg.jpg");
    background-attachment: fixed;
    background-position:top;
    background-repeat: no-repeat;
}
#main{
    margin:180px 0;
}
.container span{
    font-size: 25px;
    font-weight: 800;
}